﻿.title {
    font-size: 30;
    horizontal-align: center;
    margin: 20;
}

button {
    font-size: 42;
    horizontal-align: center;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}

StackLayout {
  padding: 10;
}

.itemName {
  font-weight: bold;
  color: #333333;
}

.itemWebsite {
  font-size: 12;
  color: #919191;
}
